<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-internal.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Database"/>
  </extensions>

  <!-- Default variables that will be overridden dynamically at application startup based on DefaultConnectionName -->
  <variable name="DefaultDbProvider" value="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient" />
  <variable name="DefaultConnectionString" value="Data Source=PRADATOR_SRV\SQL2019;Initial Catalog=WebAPIJWTDB;User ID=sa;Password=adminroot;Trust Server Certificate=True;" />
  <variable name="DefaultLogCommand" value="INSERT INTO dbo.AppLogs (MachineName, Logged, Level, Message, Logger, Callsite, Exception, VerboseInfo, Url, Action) VALUES (@MachineName, @Logged, @Level, @Message, @Logger, @Callsite, @Exception, @VerboseInfo, @Url, @Action);" />

  <targets>
    <!-- Basic file target for all logs -->
    <target xsi:type="File" name="allfile" fileName="c:\temp\DNAQMSAPI\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- Specific target for Security (Login attempts, Permission Denied, Suspicious activity) -->
    <target xsi:type="File" name="securityfile" fileName="c:\temp\DNAQMSAPI\nlog-security-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
            
    <!-- Console Target for hosting lifetime messages -->
    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />

    <!-- Database target for maximum details/verboseinfo -->
    <target xsi:type="Database" name="database"
            dbProvider="${var:DefaultDbProvider}"
            connectionString="${var:DefaultConnectionString}">
      
      <commandText>${var:DefaultLogCommand}</commandText>

      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
      <!-- Verbose info with all custom properties, thread info, and stack trace -->
      <parameter name="@VerboseInfo" layout="Properties: ${all-event-properties:separator=|} | Thread: ${threadid} | Stack: ${stacktrace}" />
      <parameter name="@Url" layout="${aspnet-request-url}" />
      <parameter name="@Action" layout="${aspnet-mvc-action}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile, database" />
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, allfile" final="true" />
    
    <!-- Route security middle logs to the security file and database -->
    <logger name="DNAQMSAPI.Security.*" minlevel="Info" writeTo="securityfile, database" />
  </rules>
</nlog>
